.container-test {
  width: 90vw;
  padding: 5vw;
  // height: 100vh;
  position: relative;
  h2 {
    float: left;
  }
  p:nth-child(2) {
    color: $red;
    float: right;
  }
  p:nth-child(3) {
    color: $orange;
    clear: both;
  }
}
.test-div {
  height: 100px;
  border: 1px solid $blue;
  position: absolute;
  top: 20px;
  display: inline-block;
}
.main-div {
  @extend .test-div;
  left: 5vw;
  width: 50vw;
}
.complementary-div {
  @extend .test-div;
  right: 5vw;
  width: 35vw;
}
